page-home {
    .btn-facebook {
        color: #ffff!important;
        background-color: #2b5ec4;
    }
    .btn-google-plus {
        color: #ffff!important;
        background-color: #dd4b39!important;
    }
    .btn-youtube {
        color: #ffff!important;
        background-color: #ff4b39!important;
    }
    .btn-linkedin {
        color: #ffff!important;
        background-color: #007bb6!important;
    }
    .btn-twitter {
        color: #ffff!important;
        background-color: #55acee!important;
    }
    .btn-mail {
        color: #ffff!important;
        background-color: #512da8!important;
    }
}